body{
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size:1300px 600px;
    background-color: rgba(47, 99, 211, 0.74);
}
ul{
    background-color: rgb(54, 63, 63);
    color: rgb(239, 235, 243);
    height: 3px;
    float: right;
}
li{
    display: inline;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;    
    color: azure;
}
li a{
    color: white;
    text-decoration: none;
}
p{
    margin: 257px 15px;
    text-align: justify;
    font-size: 25px;
    color: white;

}
p{
    line-height: normal;
}